[submodule "plugins/vim-fugitive"]
	path = pack/vendor/opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/vendor/opt/gitsigns"]
	path = pack/vendor/opt/gitsigns
	url = https://github.com/lewis6991/gitsigns.nvim
[submodule "pack/vendor/opt/catppuccin"]
	path = pack/vendor/opt/catppuccin
	url = https://github.com/catppuccin/nvim
[submodule "pack/vendor/opt/telescope.nvim"]
	path = pack/vendor/opt/telescope
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule "pack/vendor/opt/plenary"]
	path = pack/vendor/opt/plenary
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "pack/vendor/opt/vim-tmux-navigator"]
	path = pack/vendor/opt/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "pack/vendor/opt/nvim-lspconfig"]
	path = pack/vendor/opt/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "pack/vendor/opt/mason"]
	path = pack/vendor/opt/mason
	url = https://github.com/williamboman/mason.nvim
[submodule "pack/vendor/opt/nvim-treesitter"]
	path = pack/vendor/opt/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "pack/vendor/opt/Comment.nvim"]
	path = pack/vendor/opt/comment
	url = https://github.com/numToStr/Comment.nvim
[submodule "pack/vendor/opt/todo-comments.nvim"]
	path = pack/vendor/opt/todo-comments
	url = https://github.com/folke/todo-comments.nvim
[submodule "pack/vendor/opt/cmp-nvim-lsp"]
	path = pack/vendor/opt/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
[submodule "pack/vendor/opt/cmp-buffer"]
	path = pack/vendor/opt/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer
[submodule "pack/vendor/opt/cmp-path"]
	path = pack/vendor/opt/cmp-path
	url = https://github.com/hrsh7th/cmp-path
[submodule "pack/vendor/opt/cmp-cmdline"]
	path = pack/vendor/opt/cmp-cmdline
	url = https://github.com/hrsh7th/cmp-cmdline
[submodule "pack/vendor/opt/cmp_luasnip"]
	path = pack/vendor/opt/cmp_luasnip
	url = https://github.com/saadparwaiz1/cmp_luasnip
[submodule "pack/vendor/opt/lspkind-nvim"]
	path = pack/vendor/opt/lspkind-nvim
	url = https://github.com/onsails/lspkind-nvim
[submodule "pack/vendor/opt/nvim-cmp"]
	path = pack/vendor/opt/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp
[submodule "pack/vendor/opt/harpoon"]
	path = pack/vendor/opt/harpoon
	url = https://github.com/cosmicboots/harpoon
[submodule "pack/vendor/opt/luasnip"]
	path = pack/vendor/opt/luasnip
	url = https://github.com/L3MON4D3/LuaSnip
[submodule "pack/stroiman/opt/gotest.nvim"]
	path = pack/stroiman/opt/gotest
	url = git@github.com:stroiman/gotest.nvim
[submodule "pack/vendor/opt/lualine"]
	path = pack/vendor/opt/lualine
	url = https://github.com/nvim-lualine/lualine.nvim
[submodule "pack/vendor/opt/vim-projectionist"]
	path = pack/vendor/opt/vim-projectionist
	url = https://github.com/tpope/vim-projectionist
[submodule "pack/vendor/opt/vim-table-mode"]
	path = pack/vendor/opt/vim-table-mode
	url = https://github.com/dhruvasagar/vim-table-mode
[submodule "pack/vendor/opt/gruvbox"]
	path = pack/vendor/opt/gruvbox
	url = https://github.com/ellisonleao/gruvbox.nvim
[submodule "pack/vendor/opt/neoscroll"]
	path = pack/vendor/opt/neoscroll
	url = https://github.com/karb94/neoscroll.nvim
