[submodule "plugins/vim-fugitive"]
	path = pack/vendor/opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/vendor/opt/gitsigns"]
	path = pack/vendor/opt/gitsigns
	url = https://github.com/lewis6991/gitsigns.nvim
[submodule "pack/vendor/opt/catppuccin"]
	path = pack/vendor/opt/catppuccin
	url = https://github.com/catppuccin/nvim
[submodule "pack/vendor/opt/telescope.nvim"]
	path = pack/vendor/opt/telescope
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule "pack/vendor/opt/plenary"]
	path = pack/vendor/opt/plenary
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "pack/vendor/opt/vim-tmux-navigator"]
	path = pack/vendor/opt/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "pack/vendor/opt/nvim-lspconfig"]
	path = pack/vendor/opt/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "pack/vendor/opt/mason"]
	path = pack/vendor/opt/mason
	url = https://github.com/williamboman/mason.nvim
[submodule "pack/vendor/opt/mason-lspconfig"]
	path = pack/vendor/opt/mason-lspconfig
	url = https://github.com/williamboman/mason-lspconfig.nvim
[submodule "pack/vendor/opt/nvim-treesitter"]
	path = pack/vendor/opt/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
